<div class="app-doctor-detail-modal {{
    (isDoctorDetailModalOpen$ | async) ? 'show-modal' : 'hide-modal'
  }}" #doctorDetailModal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"></h5>
      <button type="button" class="close" (click)="close()">
        <app-icon-close></app-icon-close>
      </button>
    </div>
    <div class="modal-body">

      <div class="loading-spinner" *ngIf="isModalLoading">
        <app-loading-spinner></app-loading-spinner>
      </div>


      <div class="column" *ngIf="!isModalLoading">
        <div class="detail-modal-item">
          <app-direction-item [isForModal]="true" [place]="selectedPlace">
          </app-direction-item>
        </div>

        <div class="detail-modal-item">
          <div class="section">
            <app-single-map-location [coords]="selectedPlace?.place">
            </app-single-map-location>
          </div>
        </div>


        <div class="detail-modal-item" *ngIf="doctorDetail && doctorDetail.fremdsprachen.length > 0">
          <div class="section">
            <app-language-list [languages]="doctorDetail.fremdsprachen">
            </app-language-list>
          </div>
        </div>

        <div class="detail-modal-item" *ngIf="doctorDetail">
          <app-doctor-location-slider [doctorDetail]="doctorDetail"></app-doctor-location-slider>
        </div>
      </div>
    </div>
  </div>
</div>