<div class="distance-item" (click)="openLocationOnGoogleMaps(coordinates.latitude,coordinates.longitute)"
  [popperPlacement]="'auto'" [popper]="distancePopup" [popperTrigger]="'hover'" [popperHideOnClickOutside]="true"
  [popperHideOnScroll]="true" [popperPlacement]="'bottom'" [popperStyles]="{
  boxShadow:'none',
  padding:0
}">
  <div class=" distance__column">
    <div class="distance__icon" *ngIf="!isActive">
      <app-icon-direction></app-icon-direction>
    </div>
    <div class="distance__icon" *ngIf="isActive">
      <app-icon-direction-active></app-icon-direction-active>
    </div>
    <div class="distance__text" [ngClass]="isActive ?'active' :''">
      {{distance}}
    </div>
  </div>

  <popper-content #distancePopup>
    <div class="get-distance-tooltip">
      Route berechnen
    </div>
  </popper-content>
</div>