@use "src/variables" as c;

.distance-item {
  cursor: pointer;

  .distance__column {
    .distance__icon {
      margin-bottom: 15px;
    }

    .distance__text {
      color: c.$blue-bayoux;
      &.active {
        color: c.$monarch;
      }
    }
  }
}
