@use "src/variables" as c;

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.filter-item {
  display: block;
  background-color: c.$white;
  padding: 12px 10px;
}

.filter-item input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.filter-item label {
  position: relative;
  cursor: pointer;
  font-size: 16px/19px;
}

.filter-item label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid c.$blue-bayoux;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  height: 15px;
  width: 15px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.filter-item input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 5px;
  width: 5px;
  height: 9px;
  border: solid c.$blue-bayoux;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
