@use "src/variables" as c;

.app-office-hours {
  padding: 30px;
  border-bottom: 1px solid c.$alto;
  height: 100%;

  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    .head {
      .app-title-fourth {
        color: c.$blue-bayoux;
        margin-bottom: 15px;
        text-transform: ize;
      }
    }

    .body {
      width: 100%;

      .office-hour-list {
        display: flex;
        width: 100%;
        height: 100%;

        .office-hour-list-item {
          height: 100%;
          &:not(:last-child) {
            margin-right: 15px;
          }
          .column {
            .office-hour-list-item-title {
              .app-title-fifth {
              }
            }

            .office-hour-list-item-content {
              .office-hour-list-item-content-item-time {
                .app-title-fifth {
                }
              }
            }
          }
        }
      }
    }
  }
}
