<div class="direction-item">
  <div class="direction-item__container">
    <div class="direction-item__row">
      <div class="direction-item__row__item">
        <app-distance-item [distance]="direction.distance"></app-distance-item>
      </div>
      <div class="direction-item__row__item">
        <div class="column">
          <div class="column__item">
            <h3 class="doctor-name">
              {{ direction.name }}
            </h3>
          </div>
          <div class="column__item">
            <p class="address">
              {{ direction.address }}
            </p>
          </div>
        </div>
      </div>

      <div class="direction-item__row__item">
        <div class="colum">
          <div class="column__item">
            <div class="item-button">
              <app-button [text]="direction.speciality" backgroundColor="#4c6085" textColor="white"></app-button>
            </div>
          </div>
          <div class="column__item row">
            <div class="icon">
              <app-icon-local-phone></app-icon-local-phone>
            </div>
            <p class="contact">
              {{ direction.phone }}
            </p>
          </div>

          <div class="column__item row">
            <div class="icon">
              <app-icon-globe></app-icon-globe>
            </div>
            <p class="contact">
              {{ direction.website }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>