<div class="home-page">
  <div class="home-page__filters" [ngStyle]="{'max-width': showFilterSection ? '360px':'0px' }">
    <app-left-filter-section (handleFilterSectionEmitter)="handleFilterSection($event)" [filterList]="filterList"
      [showFilterSection]="showFilterSection"></app-left-filter-section>
  </div>

  <div class="home-page__content" [ngStyle]="{'width': showFilterSection ? 'calc(100% - 360px)':'100%' }">
    <div class="row">
      <div class="row-item row-item-small app-searchbar">

        <app-searchbar [showFilterSection]="showFilterSection"
          (handleFilterSectionEmitter)="handleFilterSection($event)"></app-searchbar>
      </div>
    </div>
    <div class="row">
      <div class="row-item row-item-small app-direction-list">
        <app-direction-list [placeList]="placeList" [totalPlaceCount]="totalPlaceCount"
          [isPlacesLoading]="isPlacesLoading" [pageNumber]="pageNumber" [map]="map"
          (handleOnScrollingFinished)="onScrollingFinished($event)"> </app-direction-list>
      </div>
      <div class="row-item row-item-large app-map">
        <app-map [map]="map"></app-map>
      </div>
    </div>
  </div>
</div>

<app-doctor-detail-modal *ngIf="isDoctorDetailModalOpen$ | async" [map]="map"></app-doctor-detail-modal>