<div class="app-office-hours">
  <div class="column">
    <div class="head">
      <h4 class="app-title-fourth">{{headerText}}</h4>
    </div>
    <div class="body">
      <ul class="office-hour-list">

        <li class="office-hour-list-item" *ngFor="let termine of officeHoursData.termine">
          <div class="column">
            <div class="office-hour-list-item-title">

              <h5 class="app-title-fifth">
                {{daysArr[termine.tag]}}
              </h5>
            </div>
            <div class="office-hour-list-item-content">

              <div class="office-hour-list-item-content-item-time" *ngFor="let term of termine.hours">
                <span class="app-title-fifth">
                  {{term.termineVon}}
                </span>

                <span class="app-title-fifth">
                  -
                </span>

                <span class="app-title-fifth">
                  {{term.termineBis}}
                </span>

              </div>
            </div>
          </div>
        </li>



      </ul>
    </div>
  </div>
</div>