<div class="app-office-hours">
  <div class="column">
    <div class="head">
      <h4 class="app-title-fourth">{{headerText}}</h4>
    </div>
    <div class="body">
      <ul class="office-hour-list">

        <!-- <li class="office-hour-list-item" *ngFor="let dayData of contentData">
          <div class="column">
            <div class="office-hour-list-item-title">

              <h5 class="app-title-fifth">
                {{dayData.day}}
              </h5>
            </div>
            <div class="office-hour-list-item-content">
              <div class="office-hour-list-item-content-item-time">
                <span class="app-title-fifth">
                  {{dayData.time}}
                </span>

              </div>
            </div>
          </div>
        </li> -->



      </ul>
    </div>
  </div>
</div>