<div class="app-office-hours">
  <div class="column">
    <div class="head">
      <h4 class="app-title-fourth">Sprechstunden</h4>
    </div>
    <div class="body">
      <div class="office-hour-list">
        <div class="office-hour-list-item">
          <div class="column">
            <div class="office-hour-list-item-title">

              <h5 class="app-title-fifth">
                Montag
              </h5>
            </div>
            <div class="office-hour-list-item-content">
              <div class="office-hour-list-item-content-item-time">
                <span class="app-title-fifth">
                  08:00
                </span>
                <span class="app-title-fifth">
                  -
                </span>
                <span class="app-title-fifth">
                  13:30
                </span>
              </div>
            </div>
          </div>
        </div>



        <div class="office-hour-list-item">
          <div class="column">
            <div class="office-hour-list-item-title">

              <h5 class="app-title-fifth">
                Dienstag
              </h5>
            </div>
            <div class="office-hour-list-item-content">
              <div class="office-hour-list-item-content-item-time">
                <span class="app-title-fifth">
                  14:00
                </span>
                <span class="app-title-fifth">
                  -
                </span>
                <span class="app-title-fifth">
                  16:30
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="office-hour-list-item">
          <div class="column">
            <div class="office-hour-list-item-title">

              <h5 class="app-title-fifth">
                Mittwoch
              </h5>
            </div>
            <div class="office-hour-list-item-content">
              <div class="office-hour-list-item-content-item-time">
                <span class="app-title-fifth">
                  08:00
                </span>
                <span class="app-title-fifth">
                  -
                </span>
                <span class="app-title-fifth">
                  13:30
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="office-hour-list-item">
          <div class="column">
            <div class="office-hour-list-item-title">

              <h5 class="app-title-fifth">
                Donnerstag
              </h5>
            </div>
            <div class="office-hour-list-item-content">
              <div class="office-hour-list-item-content-item-time">
                <span class="app-title-fifth">
                  14:00
                </span>
                <span class="app-title-fifth">
                  -
                </span>
                <span class="app-title-fifth">
                  16:30
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="office-hour-list-item">
          <div class="column">
            <div class="office-hour-list-item-title">

              <h5 class="app-title-fifth">
                Freitag
              </h5>
            </div>
            <div class="office-hour-list-item-content">
              <div class="office-hour-list-item-content-item-time">
                <span class="app-title-fifth">
                </span>
                <span class="app-title-fifth">
                  -
                </span>
                <span class="app-title-fifth">
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="office-hour-list-item">
          <div class="column">
            <div class="office-hour-list-item-title">

              <h5 class="app-title-fifth">
                Samstag
              </h5>
            </div>
            <div class="office-hour-list-item-content">
              <div class="office-hour-list-item-content-item-time">
                <span class="app-title-fifth">
                  08:00
                </span>
                <span class="app-title-fifth">
                  -
                </span>
                <span class="app-title-fifth">
                  13:30
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="office-hour-list-item">
          <div class="column">
            <div class="office-hour-list-item-title">

              <h5 class="app-title-fifth">
                Sonntag
              </h5>
            </div>
            <div class="office-hour-list-item-content">
              <div class="office-hour-list-item-content-item-time">
                <span class="app-title-fifth">
                </span>
                <span class="app-title-fifth">
                  -
                </span>
                <span class="app-title-fifth">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>