@use "src/variables" as c;

.app-root {
  background-color: c.$wild-sand;
  height: 100vh;

  @media screen and (max-width: c.$media-xl-min-width) {
    height: auto;
  }
  &__container {
    width: 100%;
    margin: auto;
    height: calc(100% - 75px - (2 * 50px));
  }
}
