@use "src/variables" as c;

.app-root {
  background-color: c.$wild-sand;
  height: 100vh;
  &__container {
    max-width: c.$app-normal-max-width;
    width: 100%;
    margin: auto;
    height: calc(100% - 75px - (2 * 50px));
  }
}
