<div *ngIf="place" class="direction-item"
  [ngClass]="(place.id === (selectedDoctorId$ | async) && !isForModal )?'active' :''"
  [ngClass]="isForModal ?'hover-disable' :''" (click)="openDoctorDetailModal(place.id)">
  <div class="direction-item__container">
    <div class="direction-item__row">
      <div class="direction-item__row__item row">
        <app-distance-item [distance]="place.distance ? place.distance.toFixed(2) + 'km' : ''"
          [coordinates]="place.place" [isActive]="(place.id === (selectedDoctorId$ | async) && !isForModal )">
        </app-distance-item>

        <div class="column">
          <div class="column__item">
            <h3 class="place-name">
              {{findGenderAdditional(place.geschlect)}} {{place.title}} {{ place.nachname }} {{ place.vorname }}
            </h3>
          </div>
          <div class="column__item">
            <p class="address">
              {{ place.strasse}} {{ place.plz}} {{ place.ort}}
            </p>
          </div>
        </div>
      </div>

      <div class="direction-item__row__item">
        <div class="colum">

          <div class="column__item row" *ngFor="let telephone of place.phone">
            <div class="icon">
              <app-icon-local-phone></app-icon-local-phone>
            </div>
            <p class="contact">
              ({{telephone.telefonvorwahl}}) {{telephone.telefonnummer}}
            </p>
          </div>

          <div *ngIf="isForModal">

            <div class="column__item row" *ngFor="let email of place.email">
              <div class="icon">
                <app-icon-mail></app-icon-mail>
              </div>
              <p class="contact">
                {{email.emailAddress}}
              </p>
            </div>
          </div>

          <div class="column__item row" *ngFor="let website of place.homePage">
            <div class="icon">
              <app-icon-globe></app-icon-globe>
            </div>
            <p class="contact">
              {{website.webSite}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>