@use "src/variables" as c;

.map-container {
  width: 100%;
  height: 100%;
  .map-frame {
    width: 100%;
    height: 100%;
    position: relative;

    .map-wont-load {
      align-items: center;
      justify-content: center;
      background-color: rgba($color: c.$blue-bayoux, $alpha: 0.5);
      position: absolute;
      width: 100%;
      height: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      .wont-text {
        margin-top: 20px;
      }
    }

    .map-loading-spinner {
      display: none;
      align-items: center;
      justify-content: center;
      background-color: rgba($color: c.$blue-bayoux, $alpha: 0.5);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 9998;

      &.show {
        display: flex;
      }
    }
    #map {
      height: 100%;

      .leaflet-bottom.leaflet-right {
        display: none !important;
      }

      .leaflet-control-zoom {
        display: none !important;
        float: none;
      }
    }
  }
}

.leaflet-control-zoom {
  display: none !important;
  float: none;
}
