@use "src/variables" as c;

.searchbar {
  width: 100%;
  height: 60px;
  .searchbar__container {
    // background: c.$white;
    .searchbar__layout {
      display: flex;
      .searchar__layout__item {
        display: flex;
        align-items: center;
        display: flex;
        padding: 0 10px;
        background: red;

        &.search-icon {
          padding: 0;

          cursor: pointer;
          margin-right: 10px;
          width: 185px;
        }

        &.search-input {
          cursor: pointer;
          margin-right: 10px;
          width: calc((100% - 185px - 20px - 120px) / 2);
          background: c.$white;
          color: c.$gray;
        }

        &.search-location {
          cursor: pointer;
          width: calc((100% - 185px - 20px - 120px) / 2);
          background: c.$white;
          color: c.$gray;
        }

        &.search-dropdown {
          background: c.$white;
          width: 120px;
          box-shadow: 0px 4px 10px #0000000d;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;

          .searchbar__dropdown {
            width: 100%;
            height: 100%;
            position: relative;
            &__selected__value {
              width: 100%;
              height: 100%;
              color: c.$gray;

              &__span {
                width: 100%;
                height: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }

            &__list {
              position: absolute;
              margin: 0;
              top: 100%;
              left: 0;
              width: 100%;
              background: c.$white;
              box-shadow: 0px 4px 10px #0000000d;
              display: none;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              z-index: 9999;
              padding: 0;
              &.active {
                display: flex;
              }
              &__item {
                padding: 10px 0;
                width: 100%;
                cursor: pointer;
                color: c.$gray;
                border-bottom: 1px solid c.$alto;
                transition: 0.4s ease-in-out background;
                &.active {
                  background: c.$monarch;
                  color: c.$white;
                  transition: 0.2s ease-in-out background;
                }

                &:hover {
                  background: c.$wild-sand;
                  color: c.$gray;
                }
              }
            }
          }
        }
        .searchbar__toogle-filters-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 60px;
          transition: 0.4s;
          padding: 0 10px;
          .filter-text {
            margin-left: 10px;
            color: c.$blue-bayoux;

            &.text-color-white {
              color: c.$white;
            }
          }
        }
        .searchbar__input {
          border: none;
          outline: none;
          height: 20px;
          width: calc(100% - 35px);
          color: c.$gray;
        }

        .searchbar__icon {
          width: 15px;
          margin: 0 10px;
        }
      }
    }
  }
}
