@use "src/variables" as c;

.searchbar {
  width: 100%;
  height: 60px;
  .searchbar__container {
    background: c.$white;
    .searchbar__layout {
      display: flex;
      .searchar__layout__item {
        display: flex;
        align-items: center;
        display: flex;
        width: calc(100% - 60px);

        &.icon {
          cursor: pointer;
          width: 60px;
        }
        .searchbar__toogle-filters-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          transition: 0.4s;
          app-icon-show-filters {
          }
        }
        .searchbar__input {
          margin-left: 20px;
          border: none;
          outline: none;
          height: 20px;
          width: calc(100% - 60px);
        }

        .searchbar__icon {
          margin: 0 30px;
        }
      }
    }
  }
}
