// Variables COLOR Start
// Variables COLOR Start

$white: #ffffff;
$wild-sand: #f6f6f6;
$alto: #e0e0e0;
$gray: #7e7e7e;
$mine-shaft: #2b2b2b;
$blue-bayoux: #4c6085;
$casal: #2b666e;
$monarch: #99071d;

// Variables COLOR End
// Variables COLOR End

// Variables SIZES Start
// Variables SIZES Start
$app-normal-max-width: 1200px;

// Variables SIZES End
// Variables SIZES End
