<div class="app-doctor-location-slider">
  <div class="header-section">
    <h4 class="app-header-fourth">Adressen</h4>
  </div>

  <div class="slide-section">
    <ul class="location-list">
      <li class="location-list__item"
        *ngFor="let location of (doctorDetail?.taetigkeiten || [])[0]?.taetigkeitAnLeistungsorten; let i = index"
        (click)="handleSlideChange(i)" [ngClass]="i === activeSlideNumber ? 'active' : ''">
        {{location.strasse}} {{location.hausnummer}} {{location.plz}} {{location.ort}}
        <div class="paddy"></div>
      </li>
    </ul>
  </div>

  <div class="content-section">



    <div class="content-section__item"
      *ngIf="doctorDetail &&  ((doctorDetail.taetigkeiten||[])[0].taetigkeitsBereiche).length > 0">
      <app-activity-area-list [activtyAreaList]="((doctorDetail.taetigkeiten||[])[0].taetigkeitsBereiche)">
      </app-activity-area-list>
    </div>


    <div class="content-section__item"
      *ngIf="doctorDetail &&  (((doctorDetail.taetigkeiten||[])[0].taetigkeitAnLeistungsorten || [])[activeSlideNumber] || []).barrierefreiheit.length > 0">
      <app-accessibility-list
        [accessibilityList]="(((doctorDetail.taetigkeiten||[])[0].taetigkeitAnLeistungsorten || [])[activeSlideNumber] || []).barrierefreiheit">
      </app-accessibility-list>
    </div>

    <div class="content-section__item"
      *ngIf="doctorDetail &&  (((doctorDetail.taetigkeiten||[])[0].taetigkeitAnLeistungsorten || [])[activeSlideNumber] || []).barrierefreiheit.length > 0">

      <!-- <app-office-hours headerText="Offene Sprechstunden"
        [officeHoursData]="((doctorDetail?.properties?.locations|| [])[activeSlideNumber] || [])?.openWorkingHours">
      </app-office-hours> -->
    </div>



    <ng-container *ngIf="doctorDetail &&  ((doctorDetail.taetigkeiten||[])[0].taetigkeitsBereiche).length > 0">
      <div class="content-section__item"
        *ngFor="let sprechzeiten of (((doctorDetail?.taetigkeiten||[])[0].taetigkeitAnLeistungsorten || [])[activeSlideNumber] || []).sprechzeiten; let i = index">
        <app-office-hours headerText="Sprechstunden"
          [officeHoursData]="(((doctorDetail?.taetigkeiten||[])[0].taetigkeitAnLeistungsorten || [])[activeSlideNumber] || []).sprechzeiten[i]">
        </app-office-hours>
      </div>
    </ng-container>

    <!--     
    <div class="content-section__item">
      <app-office-hours headerText="Offene Sprechstunden"
        [contentData]="((doctorDetail?.properties?.locations|| [])[activeSlideNumber] || [])?.openWorkingHours">
      </app-office-hours>
    </div>

    <div class="content-section__item"
      *ngFor="let information of ((doctorDetail?.properties?.locations|| [])[activeSlideNumber] || [])?.informations">
      <app-header-text-section [headerText]="information.title" [contentDescription]="information.content">
      </app-header-text-section>
    </div> -->

  </div>
</div>