<div class="app-doctor-detail-modal {{
    (isDoctorDetailModalOpen$ | async) ? 'show-modal' : 'hide-modal'
  }}" #doctorDetailModal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"></h5>
      <button type="button" class="close" (click)="close()">
        <app-icon-close></app-icon-close>
      </button>
    </div>
    <div class="modal-body">
      <div class="column">
        <div class="detail-modal-item">
          <app-direction-item [isForModal]="true" [doctor]="_doctorDetail"></app-direction-item>
        </div>

        <div class="detail-modal-item two-section">
          <div class="section">
            <app-header-text-section headerText="Tätigkeitsbereiche"
              contentDescription="• Facharzt für Orthopädie • Chirotherapie • Kinder-Orthopädie • fachärztlich tätig">
            </app-header-text-section>
          </div>

          <div class="section">
            <app-header-text-section headerText="Fremdsprachenkenntnisse" contentDescription="• Englisch">
            </app-header-text-section>
          </div>
        </div>

        <div class="detail-modal-item">
          <app-doctor-location-slider [doctorDetail]="_doctorDetail"></app-doctor-location-slider>
        </div>


      </div>
    </div>
  </div>
</div>