<div class="direction-list">
  <div class="direction-list__container">
    <div class="direction-list__body" scrollTracker (scrollingFinished)="onScrollingFinished()" #scrollArea>
      <ul class="doctor-list">
        <li class="doctor-list-item" *ngFor="let place of placeList">
          <app-direction-item [place]="place" [map]="map">
          </app-direction-item>
        </li>

        <ng-container *ngIf="isPlacesLoading">
          <li *ngFor="let x of [].constructor(10)">
            <app-table-skeleton></app-table-skeleton>
          </li>
        </ng-container>

      </ul>
      <app-empty-adress *ngIf="isAddressEmpty"></app-empty-adress>
      <app-no-data *ngIf="placeList.length === 0 && !isPlacesLoading && !isAddressEmpty"></app-no-data>
    </div>
    <div class="direction-list__footer">
      <!-- <span class="direction-data-info">Insgesamt {{totalPlaceCount}}</span> -->
    </div>
  </div>
</div>