<div class="direction-list">

  <div class="direction-list__container">

    <div class="direction-list__body" scrollTracker (scrollingFinished)="onScrollingFinished()" #scrollArea>


      <ul class="doctor-list">
        <li class="doctor-list-item" *ngFor="let doctor of places">
          <app-direction-item [doctor]="doctor" [map]="map">
          </app-direction-item>
        </li>

        <li *ngIf="isPlacesLoading">
          <app-table-skeleton></app-table-skeleton>
        </li>
        <li *ngIf="isPlacesLoading">
          <app-table-skeleton></app-table-skeleton>
        </li>
        <li *ngIf="isPlacesLoading">
          <app-table-skeleton></app-table-skeleton>
        </li>
        <li *ngIf="isPlacesLoading">
          <app-table-skeleton></app-table-skeleton>
        </li>
        <li *ngIf="isPlacesLoading">
          <app-table-skeleton></app-table-skeleton>
        </li>
        <li *ngIf="isPlacesLoading">
          <app-table-skeleton></app-table-skeleton>
        </li>
        <li *ngIf="isPlacesLoading">
          <app-table-skeleton></app-table-skeleton>
        </li>
        <li *ngIf="isPlacesLoading">
          <app-table-skeleton></app-table-skeleton>
        </li>
      </ul>


      <app-no-data *ngIf="places.length === 0 && pageNumber === 1 && !isPlacesLoading"></app-no-data>

    </div>

    <div class="direction-list__footer">
      <span class="direction-data-info">Insgesamt {{totalCount}}</span>
    </div>
  </div>

</div>